.footer-main{
	width: 100%;
	height: auto;
	background-color: black;
	margin: 0px;
}
.footer-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	background-color: black;
	align-items: center;
	padding-top: 5%;
}
.footer-item{
	width: 23.5%;
	text-align: left;
	margin-left: 0px;
}
.footer-tit-white{
	color: #FEFEFE;
}
.footer-small-horisontal-line {
	width: 30%;
	height: 5px;
	background-color: #9C1D28;
	margin-bottom: 30px;
}
.footer-information{
	align-self: flex-start;
	width: 21%;
	margin-left: 3.5%;
}
.footer-information-font-size{
	font-size: 16px;
	color: #655C5B;
}
.footer-horisontal-line{
	background-color: #555555;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 100%;
	background-color: black;
}
.footer-end-horisontal-line{
	background-color: #555555;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 100%;
	background-color: black;
}
.footer-horizontal-style {
	width: 100%;
	height: 2px;
	background-color: #555555;
	margin-left: 8%;
	margin-right: 8%;
}
.footer-end-horizontal-style {
	width: 100%;
	height: 3px;
	background-color: #555555;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 5%;
	margin-bottom: 2%;
}
.fa-color-display-inline{
	display: inline-block;
	color: #9C1D28;
	margin-right: 10px;
}
.footer-tit-size{
	font-size: 23px;
}
.footer-paragraph-inline{
	display: inline-block;
}
.footer-paragraph-style{
	font-size: 15px;
	color: #655C5B;
}
.footer-end-main-div{
	width: 100%;
	height: auto;
	background-color: black;
	margin: 0px;
}
.footer-end-row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 4%;
	margin-right: 4%;
	background-color: black;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 5%;
}
.footer-end-inline{
	display: inline-block;
}
.footer-end-item-left{
	width: 40%;
	margin: 0px;
	padding-left: 3.3%;
}
.footer-end-item-right{
	width: 50%;
	margin: 0px;
	padding-right: 2.5%;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
.footer-end-align-left{
	text-align: left;
}
.footer-end-align-right{
	text-align: right;
}
.footer-tex-size{
	font-size: 15px;
	color: white;
	margin-left: 30px;
}
.footer-fa-color{
	color: white;
}
.footer-end-margin{
	margin-left: 10px;
	margin-right: 10px;
}
.foter-icon-right-margin{
	margin-left: 10px;
}
.footer-end-margin-main{
	margin-right: 30px;
}
.span-white{
	color:#F6F6F6;
}
.span-gray{
	color: #594F50;
}
.fa-size-end-footer{
	font-size: 32px;
	margin-bottom: 0px;
}