.header {
	background-color: #212121;
}
.inside-header {
	margin-left: 11.5%;
	margin-right: 11.5%;
	background-color: #212121;
}
.header-first-row {
	background-color: #212121;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: center;
}
.header-second-row {
	background-color: #212121;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
.h-row-horizontal-line {
	background-color: #212121;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
.item {
	text-align: center;
	background-color:  #212121;
	padding: 5px;
	align-items: center;
}
.item-second-row{
	text-align: center;
	background-color:  #212121;
	align-items: center;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.item-second-row-inf{
	text-align: center;
	background-color:  #212121;
	align-items: center;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.item-second-row-compare{
	text-align: center;
	background-color:  #212121;
	align-items: center;
	padding-right: 5px;
	padding-left: 5px;
}
.my-cart-item {
	text-align: center;
	background-color:  #212121;
	align-items: center;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-left: 1.2%;
}
.item-logo {
	text-align: center;
	background-color:  #212121;
	align-items: center;
	padding-top: 5px;
}
/*Rows and item-beginning-ending*/

/*Items,paragraph and icons-margin-beginning*/
.item-margin-left-right {
	margin-left: 1.2%;
	margin-right: 1.2%;
}
.first-row-item-margin{
	margin-left: 1.7%;
	margin-right: 1.7%;
}
.search-item-left-right{
	margin-left: 0.8%;
	margin-right: 0.8%;
}
.item-contact-inf-mr {
	margin-right: 5.4%;
}
.fa-margin-right {
	margin-right: 19px;
}
.icon-margin-left-right{
	margin-top: 10%;
	margin-bottom: 10%;
}
.itm-con-margin-top {
	margin-top: 5px;
}
.item-margin-top {
	margin-top: 5px;
}
.img-left{
	margin-left: 0px;
}
.fa-first-row-margin {
	margin-right: 3px;
}
/*.paragraph-margin-top {
	margin-top: 3px;
}*/
/*Items,paragraph and icons-margin-ending*/

/*Text color and size-beginning*/
.text-color-red {
	color: red;
	font-size: 14px;
}
.text-color-white {
	color: white;
}
.par-margin-top{
	padding-top: 7px;
}
.par-margin-top-compare{
	padding-top: 1px;
}
.text-color-gray {
	color: #9D9D9D
}
.font-size{
	font-size: 20px;
}
.search-fa-size {
	font-size: 20px;
}
.fa-compare-size{
	font-size: 23px;
}
/*Text color and size-ending*/

/*Display block and inline and aligning-beginning*/
.itm-con-inline-block{
	display: inline-block;
}
.itm-con-block{
	display: block;
}
.itm-con-align-center{
	text-align: center;
}
.itm-con-align-left{
	text-align: left;
}
.itm-con-align-right{
	text-align: right;
}
.p-con-align-right{
	text-align: right;
}
.p-inline-block{
	display: inline-block;
}
.p-con-block{
	display: block;
}
.item-flex-growing {
	flex-grow: 1; 
}
.header-fa-color-red{
	color: #FF3448;
}
.heeader-fa-color-white{
	color: white;
}
/*.first-row-font-size{
	font-size: 10px;
}
.h-fa-font-size{
	font-size: 20px;
}*/
/*Display block and inline and aligning-ending*/

/*Horizontal and vertical lines-beginning*/
.first-row-ver-line {
	border-left: 2px solid #595959;
  	height: 32px;
}
.second-row-ver-line{
	border-left: 2px solid #595959;
	margin-top: 5px;
  	height: 54px;
}
/*.horizontal-line {
	width: 100%;
	height: 3px;
	background-color: #595959;
	margin-left: 10px;
	margin-right: 15px;
}*/
.header-horisontal-line {
	width: 100%;
	height: 2px;
	background-color: #595959;
	margin-bottom: 7px;
}
/*Horizontal and vertical lines-ending*/
/*Header-ending*/